@charset "UTF-8";
body {
  font-size: 1rem;
  font-family: "Jost";
}

a.navbar-brand img {
  margin-top: 65px;
  margin-bottom: 40px;
  max-width: 220px;
  height: auto;
}

#header .flexslider {
  margin: 0;
  border: none;
}

.width-config {
  max-width: 70%;
  margin: auto;
}

.views-field-field-header-image img {
  max-width: 100%;
  height: auto;
}

.site-footer {
  background-color: white;
  padding-bottom: 0;
}

.site-footer__bottom {
  border-top: 1px solid #960018;
  background-color: white;
}
.site-footer__bottom p,
.site-footer__bottom .content a {
  color: black;
  text-decoration: none;
}
.site-footer__bottom p.icns img {
  width: 25px;
  height: auto;
  float: left;
  margin-right: 15px;
}
.site-footer__bottom p.icns::after {
  clear: both;
  display: table;
  content: "";
}
.site-footer__bottom p img {
  max-width: 100%;
  height: auto;
}

.rock-bottom {
  margin-top: 60px;
  /*
  width: 100vw;
  left: calc(-1 * (100vw - 100%) / 2);
  */
  text-indent: -9999px;
  background-image: url(../images/trenner-karomuster.png);
  background-repeat: repeat-x;
  background-size: contain;
  height: 100px;
}

.region-over-the-top-right .menu--main {
  margin-top: 132px;
}
.region-over-the-top-right .menu--main ul.navbar-nav {
  display: flex;
  flex-direction: row; /* überschreibt column */
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}
.region-over-the-top-right .menu--main ul.navbar-nav li {
  flex: 1; /* optional: jeder gleich breit */
  text-align: center;
}
.region-over-the-top-right .menu--main ul.navbar-nav li a.nav-link {
  display: inline-block;
  font-size: 1rem;
  font-weight: bold;
  color: black;
  padding: 0 0 3px 0;
}
.region-over-the-top-right .menu--main ul.navbar-nav li a.nav-link.active {
  border-bottom: 2px solid #960018;
}

.responsive-menu-toggle-icon:before, .responsive-menu-toggle-icon:after, .responsive-menu-toggle-icon span.icon {
  background-color: black;
}

.views-field-field-header-image {
  margin-bottom: 15px;
}

.views-field-field-bild-beschriftung .field-content {
  padding-left: 15%;
}
.views-field-field-bild-beschriftung .field-content p {
  color: #cccccc;
  font-size: 0.9rem;
  font-style: italic;
}

span.big {
  font-size: 3rem;
  font-weight: 600;
  line-height: 3rem;
}
span.big.red {
  color: #960018;
}
span.big.black {
  color: #000000;
}
span.big.itlc {
  font-family: "Fraunces 72pt";
  /* font-style: italic; */
}

span.medium {
  font-size: 2.4rem;
  line-height: 2.6rem;
  font-weight: 600;
}
span.medium.red {
  color: #960018;
}
span.medium.itlc {
  font-family: "Fraunces 72pt";
}

.career-wrapper {
  margin-top: 70px;
}
.career-wrapper .graphic-left img,
.career-wrapper .graphic-right img {
  width: 240px;
  height: auto;
}
.career-wrapper .graphic-right {
  text-align: right;
}
.career-wrapper .graphic-right img {
  transform: scaleX(-1);
}
.career-wrapper .cntnt {
  text-align: center;
}

a.career-btn {
  color: white;
  font-size: 1.6rem;
  padding: 0 30px 0 30px;
  display: inline-block;
  text-decoration: none;
  margin-top: 20px;
}
a.career-btn.rot {
  background-color: #960018;
}
a.career-btn.schwarz {
  background-color: black;
}

.insta-wrapper .graphic-left,
.insta-wrapper .graphic-right {
  text-align: center;
}
.insta-wrapper .graphic-left img {
  width: 180px;
  height: auto;
  position: relative;
  top: calc(50% - 90px);
}
.insta-wrapper .graphic-right img {
  width: 270px;
  height: auto;
  position: relative;
  top: calc(50% - 160px);
}

.hard-tiles {
  background-color: #C5C8DA;
}
.hard-tiles .row {
  margin: 0;
  padding: 0;
}
.hard-tiles .col-md-4 {
  margin: 0;
  padding: 0;
}
.hard-tiles .col-md-4 .field--type-image {
  margin: 0 !important;
}
.hard-tiles .col-md-4 .field--type-image img {
  max-width: 100%;
  height: auto;
}
.hard-tiles .image-block {
  position: relative;
}
.hard-tiles .image-block .img-file img {
  margin: 0;
}
.hard-tiles .image-block .img-caption {
  width: 100%;
  position: absolute;
  bottom: 25px;
  z-index: 5;
  text-align: center;
  color: white;
  font-weight: 600;
  font-size: 0.9rem;
}
.hard-tiles .quotation {
  padding-top: 50px;
}

.node .paragraph--type--area-50-50 .img-right-wrap {
  max-width: 637px;
}
.node .paragraph--type--area-50-50 {
  margin-bottom: 70px;
  /*
  .image-text {
    position: relative;
    }
  */
}
.node .paragraph--type--area-50-50 .field--name-field-button-graphic,
.node .paragraph--type--area-50-50 .toon-left,
.node .paragraph--type--area-50-50 .toon-right {
  display: inline-block;
  margin: 0;
  position: absolute;
}
.node .paragraph--type--area-50-50 .field--name-field-button-graphic .field--type-image,
.node .paragraph--type--area-50-50 .toon-left .field--type-image,
.node .paragraph--type--area-50-50 .toon-right .field--type-image {
  float: none;
  margin: 0;
}
.node .paragraph--type--area-50-50 .field--name-field-button-graphic img,
.node .paragraph--type--area-50-50 .toon-left img,
.node .paragraph--type--area-50-50 .toon-right img {
  margin: 0;
  width: 100%;
  height: auto;
}
.node .paragraph--type--area-50-50 .field--name-field-button-graphic {
  width: 210px;
  height: 210px;
  top: calc(50% - 105px);
  left: calc(50% - 105px);
  z-index: 10;
}
.node .paragraph--type--area-50-50 .toon-right,
.node .paragraph--type--area-50-50 .toon-left {
  z-index: 11;
}
.node .paragraph--type--area-50-50 .toon-right .field__item,
.node .paragraph--type--area-50-50 .toon-left .field__item {
  height: 360px;
}
.node .paragraph--type--area-50-50 .toon-right .field__item img,
.node .paragraph--type--area-50-50 .toon-left .field__item img {
  max-height: 100%;
  width: auto;
}
.node .paragraph--type--area-50-50 .toon-right {
  right: 20px;
  bottom: -130px;
}
.node .paragraph--type--area-50-50 .toon-left {
  left: 10px;
  bottom: -130px;
}
.node .paragraph--type--area-50-50 .hell-blau-grau,
.node .paragraph--type--area-50-50 .intensiv-gruen,
.node .paragraph--type--area-50-50 .pink {
  position: relative;
  /*
  .no-pad {
    padding-right: 0;
    }
  */
}
.node .paragraph--type--area-50-50 .hell-blau-grau {
  background-color: #C5C8DA;
}
.node .paragraph--type--area-50-50 .intensiv-gruen {
  background-color: #BFD563;
}
.node .paragraph--type--area-50-50 .pink {
  background-color: #CDA3BC;
}
.node .paragraph--type--area-50-50 .field--name-field-on-the-square-img.field--type-entity-reference {
  margin: 0;
}
.node .paragraph--type--area-50-50 .field--name-field-on-the-square-img.field--type-entity-reference .field--type-image {
  float: none;
  margin: 0;
  overflow: hidden;
}
.node .paragraph--type--area-50-50 .field--name-field-on-the-square-img.field--type-entity-reference .field--type-image img {
  margin: 0;
  width: 100%;
  height: auto;
}

.node .paragraph--type--bild-oder-text {
  position: relative;
}
.node .paragraph--type--bild-oder-text .field--type-image {
  margin: 0;
}
.node .paragraph--type--bild-oder-text .field--type-entity-reference {
  margin: 0;
}
.node .paragraph--type--bild-oder-text .field--name-field-button-graphic {
  border: 1px solid blue;
}
.node .paragraph--type--bild-oder-text .field--name-field-button-graphic .field--type-image {
  float: none;
}
.node .paragraph--type--bild-oder-text {
  /*
  .field--name-field-tile-text {
    display: none;
    }
  .tile-wrapper:hover .field--name-field-media-image {
    display: none;
    }
  .tile-wrapper:hover .field--name-field-tile-text {
    display: block;
    }
  */
}
.node .paragraph--type--bild-oder-text .tile-wrapper.add-hover {
  position: relative; /* wichtig für z-index */
  display: inline-block; /* passt Größe automatisch an */
  cursor: pointer;
}
.node .paragraph--type--bild-oder-text .tile-wrapper.add-hover .field--name-field-media-image,
.node .paragraph--type--bild-oder-text .tile-wrapper.add-hover .field--name-field-tile-text {
  transition: opacity 0.4s ease;
}
.node .paragraph--type--bild-oder-text .tile-wrapper.add-hover .field--name-field-media-image {
  display: block;
  opacity: 1;
}
.node .paragraph--type--bild-oder-text .tile-wrapper.add-hover .field--name-field-tile-text {
  position: absolute; /* Text überlagert Bild */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-height: 306px;
  margin-bottom: 1em;
  opacity: 0;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 2;
  background-color: black;
  color: white;
  padding: 40px 20px 0 20px;
}
.node .paragraph--type--bild-oder-text .tile-wrapper.add-hover .field--name-field-tile-text .top {
  font-size: 1.1rem;
  font-weight: 300;
}
.node .paragraph--type--bild-oder-text .tile-wrapper.add-hover .field--name-field-tile-text .bread {
  font-size: 1.5rem;
  font-weight: 600;
}
.node .paragraph--type--bild-oder-text .tile-wrapper.add-hover .field--name-field-tile-text .txt {
  font-size: 0.8rem;
}
.node .paragraph--type--bild-oder-text .tile-wrapper.add-hover:hover .field--name-field-media-image {
  opacity: 0;
}
.node .paragraph--type--bild-oder-text .tile-wrapper.add-hover:hover .field--name-field-tile-text,
.node .paragraph--type--bild-oder-text .tile-wrapper.add-hover:hover .field--name-field-btn-small .field--name-field-media-image {
  opacity: 1;
}
.node .paragraph--type--bild-oder-text .field--name-field-btn-small .field__item {
  position: absolute;
  top: -20px;
  left: -20px;
  z-index: 11;
  width: 80px;
  height: 80px;
}
.node .paragraph--type--bild-oder-text .field--name-field-btn-small .field__item img {
  margin: 0;
  width: 100%;
}

.paragraph--type--textinhalt p.narrow,
.paragraph--type--area-50-50 p.narrow {
  max-width: 335px;
  margin: 0 auto 1rem auto;
}
.paragraph--type--textinhalt p.slogan,
.paragraph--type--area-50-50 p.slogan {
  text-align: center;
  padding-top: 16%;
}

.paragraph--type--textinhalt .textcntnt.distance {
  margin-bottom: 70px;
}

.paragraph--type--divide {
  margin-top: 60px;
  margin-bottom: 70px;
  position: relative;
  width: 100vw;
  left: calc(-1 * (100vw - 100%) / 2);
  text-indent: -9999px;
  background-image: url("../images/trenner-karomuster.png");
  background-repeat: repeat-x;
  background-size: contain;
  height: 100px;
}

@media screen and (max-width: 1399px) {
  .node .paragraph--type--area-50-50 .toon-right .field__item,
  .node .paragraph--type--area-50-50 .toon-left .field__item {
    height: 280px;
  }
}
@media screen and (max-width: 1199px) {
  .node .paragraph--type--area-50-50 .toon-right,
  .node .paragraph--type--area-50-50 .toon-left {
    bottom: -108px;
  }
  .node .paragraph--type--area-50-50 .toon-right .field__item,
  .node .paragraph--type--area-50-50 .toon-left .field__item {
    height: 200px;
  }
  .field--name-field-bild-und-textinhalt p.slogan {
    padding-top: 30px;
  }
  .field--name-field-bild-und-textinhalt p.slogan span.big {
    font-size: 2.5rem;
    line-height: 2.5rem;
  }
  .node .paragraph--type--area-50-50 .field--name-field-button-graphic {
    width: 160px;
    height: 160px;
    top: calc(50% - 80px);
    left: calc(50% - 80px);
  }
  .paragraph--type--area-50-50 p.narrow {
    max-width: 300px;
    font-size: 0.9rem;
  }
  .insta-wrapper .graphic-left img {
    width: 120px;
    top: calc(50% - 60px);
  }
  .insta-wrapper .graphic-right img {
    width: 200px;
    top: calc(50% - 130px);
  }
}
@media screen and (max-width: 991px) {
  .region-over-the-top-right .menu--main {
    margin-top: 0;
    margin-bottom: 25px;
  }
  a.navbar-brand {
    display: inline-block;
    text-align: center;
  }
  .node .paragraph--type--area-50-50 .toon-right .field__item,
  .node .paragraph--type--area-50-50 .toon-left .field__item {
    height: 180px;
  }
  .node .paragraph--type--area-50-50 .field--name-field-button-graphic img {
    width: 95%;
  }
  .paragraph--type--textinhalt p.slogan {
    padding-top: 30px;
  }
  .paragraph--type--textinhalt .textcntnt.distance {
    margin-bottom: 30px;
  }
  .field--name-field-bild-und-textinhalt p.slogan {
    padding-top: 30px;
  }
  .field--name-field-bild-und-textinhalt p.slogan span.big {
    font-size: 2rem;
    line-height: 2rem;
  }
  .node .paragraph--type--area-50-50 .intensiv-gruen .no-pad {
    padding-right: calc(var(--bs-gutter-x) * 0.5);
  }
  .intensiv-gruen {
    padding-bottom: 2rem;
  }
  .intensiv-gruen p.slogan {
    text-align: left;
    padding-left: 80px;
  }
  .intensiv-gruen p.narrow {
    max-width: 290px;
    margin: 0 0 0 80px;
  }
  .node .paragraph--type--area-50-50 .field--name-field-button-graphic {
    width: 100px;
    height: 100px;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
  }
  .career-wrapper .graphic-left img,
  .career-wrapper .graphic-right img {
    max-width: 100%;
  }
  span.big {
    font-size: 2.5rem;
    line-height: 2.5rem;
  }
  span.medium {
    font-size: 2.2rem;
    line-height: 2.3rem;
  }
  .insta-wrapper .graphic-left img {
    width: 90px;
    top: calc(50% - 45px);
  }
  .insta-wrapper .graphic-right img {
    width: 160px;
    top: calc(50% - 100px);
  }
}
@media screen and (max-width: 768px) {
  .region-over-the-top-right .menu--main ul.navbar-nav,
  .navigation.menu--main {
    display: none;
  }
  .responsive-menu-toggle-wrapper.responsive-menu-toggle {
    display: block;
  }
  a.navbar-brand img {
    margin-bottom: 10px;
  }
  .hell-blau-grau,
  .pink {
    text-align: center;
  }
  .hell-blau-grau .field--name-field-bild-und-textinhalt,
  .pink .field--name-field-bild-und-textinhalt {
    text-align: left;
  }
  .intensiv-gruen {
    padding-top: 30px;
    padding-bottom: 0;
  }
  .intensiv-gruen p.slogan {
    padding-left: 15px;
  }
  .intensiv-gruen p.narrow {
    max-width: none;
    margin: auto;
    padding: 15px;
  }
  .field--name-field-bild-und-textinhalt p.slogan {
    margin-top: 25px;
    padding-top: 0;
  }
  .node .paragraph--type--area-50-50 .toon-left,
  .node .paragraph--type--area-50-50 .toon-right {
    position: relative;
    top: auto;
    bottom: auto;
    right: auto;
    text-align: center;
    display: block;
  }
  .node .paragraph--type--area-50-50 .toon-left img,
  .node .paragraph--type--area-50-50 .toon-right img {
    margin: auto;
  }
  .node .paragraph--type--bild-oder-text .field--name-field-btn-small .field__item {
    left: 10px;
    width: 60px;
    height: 60px;
  }
  .node .paragraph--type--area-50-50 .img-right-wrap {
    max-width: none;
  }
  .node .paragraph--type--area-50-50 .field--name-field-button-graphic {
    position: relative;
    top: auto;
    left: auto;
    bottom: auto;
    margin-top: 25px;
  }
  .insta-wrapper .graphic-left img {
    width: 80px;
    top: calc(50% - 40px);
  }
  .insta-wrapper .graphic-right img {
    width: 140px;
    top: calc(50% - 90px);
  }
  .site-footer__bottom .block.block-block-content {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (max-width: 576px) {
  .hide {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
