@use 'colors';

.views-field-field-header-image {
  margin-bottom: 15px;
  }

.views-field-field-bild-beschriftung {
  .field-content {
    padding-left: 15%;
    p {
      color: #cccccc;
      font-size: 0.9rem;
      font-style: italic;
      }
    }
  }

span.big {
  font-size: 3rem;
  font-weight: 600;
  line-height: 3rem;
  &.red {
    color: colors.$kp-rot;
    }
  &.black {
    color: #000000;
    }
  &.itlc {
    font-family: 'Fraunces 72pt';
    /* font-style: italic; */
    }
  }

span.medium {
  font-size: 2.4rem;
  line-height: 2.6rem;
  font-weight: 600;
  &.red {
    color: colors.$kp-rot;
    }
  &.itlc {
    font-family: 'Fraunces 72pt';
    }
  }

.career-wrapper {
  margin-top: 70px;
  .graphic-left,
  .graphic-right {
    img {
      width: 240px;
      height: auto;
      }
    }
  .graphic-right {
    text-align: right;
    img {
      transform: scaleX(-1);
      }
    }
  .cntnt {
    text-align: center;
    }
  }

a.career-btn {
  color: white;
  font-size: 1.6rem;
  padding: 0 30px 0 30px;
  display: inline-block;
  text-decoration: none;
  margin-top: 20px;
  &.rot {
    background-color: colors.$kp-rot;
    }
  &.schwarz {
    background-color: black;
    }
  }

.insta-wrapper {
  .graphic-left,
  .graphic-right {
    text-align: center;
    }
  .graphic-left img {
      width: 180px;
      height: auto;
      position: relative;
      top: calc(50% - 90px);
      }
  .graphic-right img {
      width: 270px;
      height: auto;
      position: relative;
      top: calc(50% - 160px);
      }
    }
