
@use 'colors';

body {
  font-size: 0.9rem;
  line-height: 1.3rem;
  font-family: 'Jost';
  }

a.navbar-brand {
  img {
    margin-top: 65px;
    margin-bottom: 40px;
    max-width: 220px;
    height: auto;
    }
  }

#header {
  .flexslider {
    margin: 0;
    border: none;
    }
  }

.width-config {
  max-width: 70%;
  margin: auto;
  &.fresh {
    margin-bottom: 50px;
    }
  }

.views-field-field-header-image img {
  max-width: 100%;
  height: auto;
  }

.paragraph--type--area-50-50 .no-pad {
  padding-right: 0;
  }

.img-txt-wrapper {
  position: relative;
  .big-img {
    img {
      width: 100%;
      height: auto;
      }
    }
  .red-k {
    width: 160px;
    height: 160px;
    position: absolute;
    z-index: 10;
    top: calc(50% - 100px);
    left: calc(50% - 80px);
    img {
      max-width: 100%;
      height: auto;
      }
    }
  .slogan-white {
    position: absolute;
    top: 62%;
    color: white;
    width: 100%;
    text-align: center;
    font-size: 2.2rem;
    line-height: 2.4rem;
    span.big-white {
      font-weight: 600;
      }
    span.big-white.itlc {
      font-family: 'Fraunces 72pt';
      }
    }
  .img-caption {
    color: white;
    position: absolute;
    bottom: 0;
    left: 20px;
    font-size: 0.9rem;
    }
  }

.toony-style {
  max-width: 15%;
  margin: 0 auto 40px auto;
  img {
    width: 100%;
    height: auto;
    }
  }

.site-footer {
  background-color: white;
  padding-bottom: 0;
  }

.site-footer__bottom {
  border-top: 1px solid colors.$kp-rot;
  background-color: white;
  padding-top: 40px;
  .block {
    padding-left: calc(var(--bs-gutter-x) * .5);
    padding-right: calc(var(--bs-gutter-x) * .5);
    hyphens: auto;
    }
  p,
  .content a {
    color: black;
    text-decoration: none;
    }
  p.icns {
    img {
      width: 25px;
      height: auto;
      float: left;
      margin-right: 15px;
      }
    &::after {
      clear: both;
      display: table;
      content: '';
      }
    }
  p img {
    max-width: 100%;
    height: auto;
    }
  }

.rock-bottom {
  margin-top: 60px;
  text-indent: -9999px;
  background-image: url(../images/trenner-karomuster.png);
  background-repeat: repeat-x;
  background-size: contain;
  height: 100px;
  }
