
@use 'colors';

body {
  font-size: 1rem;
  font-family: 'Jost';
  }

a.navbar-brand {
  img {
    margin-top: 65px;
    margin-bottom: 40px;
    max-width: 220px;
    height: auto;
    }
  }

#header {
  .flexslider {
    margin: 0;
    border: none;
    }
  }

.width-config {
  max-width: 70%;
  margin: auto;
  }

.views-field-field-header-image img {
  max-width: 100%;
  height: auto;
  }

.site-footer {
  background-color: white;
  padding-bottom: 0;
  }

.site-footer__bottom {
  border-top: 1px solid colors.$kp-rot;
  background-color: white;
  p,
  .content a {
    color: black;
    text-decoration: none;
    }
  p.icns {
    img {
      width: 25px;
      height: auto;
      float: left;
      margin-right: 15px;
      }
    &::after {
      clear: both;
      display: table;
      content: '';
      }
    }
  p img {
    max-width: 100%;
    height: auto;
    }
  }

.rock-bottom {
  margin-top: 60px;
  /*
  width: 100vw;
  left: calc(-1 * (100vw - 100%) / 2);
  */
  text-indent: -9999px;
  background-image: url(../images/trenner-karomuster.png);
  background-repeat: repeat-x;
  background-size: contain;
  height: 100px;
  }
