
@media screen and (max-width: 1399px) {
  .node .paragraph--type--area-50-50 .toon-right .field__item,
  .node .paragraph--type--area-50-50 .toon-left .field__item {
    height: 280px;
    }
  }

@media screen and (max-width: 1199px) {
  .node .paragraph--type--area-50-50 .toon-right,
  .node .paragraph--type--area-50-50 .toon-left {
    bottom: -108px;
    .field__item {
      height: 200px;
      }
    }
  .field--name-field-bild-und-textinhalt p.slogan {
    padding-top: 30px;
    span.big {
      font-size: 2.5rem;
      line-height: 2.5rem;
      }
    }
  .node .paragraph--type--area-50-50 .field--name-field-button-graphic {
    width: 160px;
    height: 160px;
    top: calc(50% - 80px);
    left: calc(50% - 80px);
    }
  .paragraph--type--area-50-50 p.narrow {
    max-width: 300px;
    font-size: 0.9rem;
    }
  .insta-wrapper {
    .graphic-left img {
      width: 120px;
      top: calc(50% - 60px);
      }
    .graphic-right img {
      width: 200px;
      top: calc(50% - 130px);
      }
    }
  }

@media screen and (max-width: 991px) {
  .region-over-the-top-right .menu--main {
    margin-top: 0;
    margin-bottom: 25px;
    }
  a.navbar-brand {
    display: inline-block;
    text-align: center;
    }
  .node .paragraph--type--area-50-50 .toon-right .field__item,
  .node .paragraph--type--area-50-50 .toon-left .field__item {
    height: 180px;
    }
  .node .paragraph--type--area-50-50 .field--name-field-button-graphic img {
    width: 95%;
    }

  .paragraph--type--textinhalt {
    p.slogan {
      padding-top: 30px;
      }
    .textcntnt.distance {
      margin-bottom: 30px;
      }
    }

  .field--name-field-bild-und-textinhalt p.slogan {
    padding-top: 30px;
    span.big {
      font-size: 2rem;
      line-height: 2rem;
      }
    }
  .node .paragraph--type--area-50-50 .intensiv-gruen .no-pad {
    padding-right: calc(var(--bs-gutter-x) * .5);
    }
  .intensiv-gruen {
    padding-bottom: 2rem;
    p.slogan {
      text-align: left;
      padding-left: 80px;
      }
    p.narrow {
      max-width: 290px;
      margin: 0 0 0 80px;
      }
    }
  .node .paragraph--type--area-50-50 .field--name-field-button-graphic {
    width: 100px;
    height: 100px;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
    }
  .career-wrapper .graphic-left img,
  .career-wrapper .graphic-right img {
    max-width: 100%;
    }
  span.big {
    font-size: 2.5rem;
    line-height: 2.5rem;
    }
  span.medium {
    font-size: 2.2rem;
    line-height: 2.3rem;
    }
  .insta-wrapper {
    .graphic-left img {
      width: 90px;
      top: calc(50% - 45px);
      }
    .graphic-right img {
      width: 160px;
      top: calc(50% - 100px);
      }
    }
  }

@media screen and (max-width: 768px) {

  .region-over-the-top-right .menu--main ul.navbar-nav,
  .navigation.menu--main {
    display: none;
    }
  .responsive-menu-toggle-wrapper.responsive-menu-toggle {
    display: block;
    }
  a.navbar-brand img {
    margin-bottom: 10px;
    }
  .hell-blau-grau,
  .pink {
    text-align: center;
    .field--name-field-bild-und-textinhalt {
      text-align: left;
      }
    }
  .intensiv-gruen {
    padding-top: 30px;
    padding-bottom: 0;
    p.slogan {
      padding-left: 15px;
      }
    p.narrow {
      max-width: none;
      margin: auto;
      padding: 15px;
      }
    }
  .field--name-field-bild-und-textinhalt p.slogan {
    margin-top: 25px;
    padding-top: 0;
    }
  .node .paragraph--type--area-50-50 .toon-left,
  .node .paragraph--type--area-50-50 .toon-right {
    position: relative;
    top: auto;
    bottom: auto;
    right: auto;
    text-align: center;
    display: block;
    img {
      margin: auto;
      }
    }
  .node .paragraph--type--bild-oder-text .field--name-field-btn-small .field__item {
    left: 10px;
    width: 60px;
    height: 60px;
    }
  .node .paragraph--type--area-50-50 .img-right-wrap {
    max-width: none;
    }
  .node .paragraph--type--area-50-50 .field--name-field-button-graphic {
    position: relative;
    top: auto;
    left: auto;
    bottom: auto;
    margin-top: 25px;
    }
  .insta-wrapper {
    .graphic-left img {
      width: 80px;
      top: calc(50% - 40px);
      }
    .graphic-right img {
      width: 140px;
      top: calc(50% - 90px);
      }
    }
  .site-footer__bottom .block.block-block-content {
    padding-left: 15px;
    padding-right: 15px;
    }
  }

@media screen and (max-width: 576px) {
  .hide {
    display: none;
    }
  }
