
@media screen and (max-width: 1399px) {

  .node .paragraph--type--area-50-50 .area-cake .toon-right {
    bottom: -134px;
    .field__item {
      height: 235px;
      }
    }

  .node .paragraph--type--area-50-50 .area-baguette .toon-left {
    bottom: -134px;
    .field__item {
      height: 230px;
      }
    }

  .node .paragraph--type--area-50-50 .field--name-field-button-graphic {
    width: 150px;
    height: 150px;
    top: calc(50% - 75px);
    left: calc(50% - 75px);
    }
  .node .paragraph--type--area-50-50 .img-right .field--name-field-button-graphic {
    left: calc(50% - 64px);
    }
  }

@media screen and (max-width: 1199px) {
  .node .paragraph--type--area-50-50 .area-cake .toon-right {
    bottom: -134px;
    .field__item {
      height: 200px;
      }
    }

  .node .paragraph--type--area-50-50 .area-baguette .toon-left {
    bottom: -145px;
    .field__item {
      height: 200px;
      }
    }
  .node .paragraph--type--area-50-50 .toon-right,
  .node .paragraph--type--area-50-50 .toon-left {
    bottom: -108px;
    .field__item {
      height: 200px;
      }
    }
  .field--name-field-bild-und-textinhalt p.slogan {
    span.big {
      font-size: 2.5rem;
      line-height: 2.5rem;
      }
    }
  .paragraph--type--area-50-50 p.narrow {
    max-width: 300px;
    font-size: 0.9rem;
    }
  .insta-wrapper {
    .graphic-left img {
      width: 120px;
      top: calc(50% - 60px);
      }
    .graphic-right img {
      width: 200px;
      top: calc(50% - 130px);
      }
    }
  }

@media screen and (max-width: 991px) {
  .hell-blau-grau,
  .pink,
  .intensiv-gruen {
    text-align: center;
    .field--name-field-bild-und-textinhalt {
      text-align: left;
      }
    }
  .node .paragraph--type--area-50-50 .img-right-wrap {
    max-width: none;
    }

  .paragraph--type--textinhalt p.narrow,
  .paragraph--type--area-50-50 p.narrow,
  .intensiv-gruen p.narrow {
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
    left: 0;
    }

  .txt-cntnt {
    padding-left: 40px;
    padding-right: 40px;
    }
  body.page-node-133 .txt-cntnt {
    padding-left: 0;
    padding-right: 0;
    }

  .field--name-field-media-image {
    width: 100%;
    .field__item {
      width: 100%;
      img {
        width: 100%;
        height: auto;
        }
      }
    }

  .career-wrapper {
    margin-top: 10px;
    }

  .paragraph--type--area-50-50 .no-pad {
    padding-right: calc(var(--bs-gutter-x) * .5);
    }

  .node .paragraph--type--area-50-50 .field--name-field-button-graphic,
  .node .paragraph--type--area-50-50 .field--name-field-button-graphic {
    position: relative;
    top: auto;
    left: auto;
    bottom: auto;
    right: auto;
    margin-top: 25px;
    }

  .node .paragraph--type--area-50-50 .img-right .field--name-field-button-graphic {
    margin-top: 0;
    margin-bottom: 25px;
    left: auto;
    }

  .node .paragraph--type--area-50-50 .area-cake .toon-right,
  .node .paragraph--type--area-50-50 .toon-left,
  .node .paragraph--type--area-50-50 .area-baguette .toon-left  {
    position: relative;
    top: auto;
    left: auto;
    bottom: auto;
    right: auto;
    }

    .paragraph--type--textinhalt,
    .paragraph--type--area-50-50 {
      p.slogan {
        padding-top: 40px;
      }
    }

  .node .paragraph--type--area-50-50 .img-right-wrap {
    max-width: 100%;
    }

  .region-over-the-top-right .menu--main {
    margin-top: 0;
    margin-bottom: 25px;
    }
  a.navbar-brand {
    display: inline-block;
    text-align: center;
    }
  .node .paragraph--type--area-50-50 .toon-right .field__item,
  .node .paragraph--type--area-50-50 .toon-left .field__item {
    height: 180px;
    }

  .paragraph--type--textinhalt {
    p.slogan {
      padding-top: 30px;
      }
    .textcntnt.distance {
      margin-bottom: 30px;
      }
    }

  .field--name-field-bild-und-textinhalt p.slogan {
    span.big {
      font-size: 2rem;
      line-height: 2rem;
      }
    }
  .node .paragraph--type--area-50-50 .intensiv-gruen .no-pad {
    padding-right: calc(var(--bs-gutter-x) * .5);
    }
  .intensiv-gruen {
    p.slogan {
      text-align: center;
      }
    }

  .career-wrapper .graphic-left img,
  .career-wrapper .graphic-right img {
    max-width: 100%;
    }
  span.big {
    font-size: 2.5rem;
    line-height: 2.5rem;
    }
  span.medium {
    font-size: 2.2rem;
    line-height: 2.3rem;
    }
  .insta-wrapper {
    .graphic-left img {
      width: 90px;
      top: calc(50% - 45px);
      }
    .graphic-right img {
      width: 160px;
      top: calc(50% - 100px);
      }
    }
  .img-txt-wrapper .red-k {
    width: 120px;
    top: calc(50% - 80px);
    left: calc(50% - 60px);
    }
  .toony-style {
    max-width: 20%;
    }
  .view-oeffnungszeiten {
    h3 {
      width: 70%;
      }
    }
  .interview.part1 .illu-mk {
    max-height: 280px;
    }
  .toon-near-by {
    max-height: 270px;
    width: auto;
    }
  .product-wrapper .field--type-commerce-price {
    margin-top: 0;
    }
  }

@media screen and (max-width: 768px) {
  .region-over-the-top-right .menu--main ul.navbar-nav,
  .navigation.menu--main {
    display: none;
    }
  .responsive-menu-toggle-wrapper.responsive-menu-toggle {
    display: block;
    }
  a.navbar-brand img {
    margin-bottom: 10px;
    }

  .intensiv-gruen {
    padding-top: 30px;
    padding-bottom: 0;
    p.slogan {
      padding-left: 15px;
      }
    p.narrow {
      max-width: none;
      margin: auto;
      padding: 15px;
      }
    }
  .paragraph--type--area-50-50 .img-right,
  .no-pad {
    p.narrow {
      left: 0;
      }
    p.slogan {
      left: 0;
      }
    }

  .field--name-field-bild-und-textinhalt p.slogan {
    margin-top: 25px;
    padding-top: 0;
    }
  .node .paragraph--type--area-50-50 .toon-left,
  .node .paragraph--type--area-50-50 .toon-right {
    position: relative;
    top: auto;
    bottom: auto;
    right: auto;
    text-align: center;
    display: block;
    img {
      margin: auto;
      }
    }
  .node .paragraph--type--bild-oder-text .field--name-field-btn-small .field__item {
    left: 10px;
    width: 60px;
    height: 60px;
    }

  .insta-wrapper {
    .graphic-left img {
      width: 80px;
      top: calc(50% - 40px);
      }
    .graphic-right img {
      width: 140px;
      top: calc(50% - 90px);
      }
    }
  .site-footer__bottom .block.block-block-content {
    padding-left: 15px;
    padding-right: 15px;
    }

  .paragraph--type--hash-key-tiles .hash-key-tiles {
    .col-md-4 .image-block {
      &.tile-1 {
        }
      &.tile-2 {
        border-right: none;
        }
      &.tile-3 {
        border-right: 1px solid #960018;
        }
      &.tile-4 {
        border-bottom: 1px solid #960018;
        border-right: none;
        padding-top: 0;
        }
      &.tile-5 {
        }
      &.tile-6 {
        }
      }
    }
  .img-txt-wrapper {
    .red-k {
      width: 70px;
      top: calc(50% - 80px);
      left: calc(50% - 35px);
      }
    .slogan-white {
      font-size: 1.8rem;
      line-height: 2rem;
      top: 55%;
      }
    }
  span.big {
    font-size: 2.2rem;
    line-height: 2.4rem;
    }
  .toony-style {
    max-width: 27%;
    margin: 0 auto 25px auto;
    }
  .node .paragraph--type--bild-oder-text .tile-wrapper.add-hover .field--name-field-tile-text {
    max-height: none;
    height: auto;
    }
  .view-oeffnungszeiten {
    h3 {
      width: 90%;
      }
    }
  .paragraph--type--kacheln .hard-tiles .quotation {
    padding-bottom: 40px;
    }
  .interview.part1 {
    border-right: none;
    padding-right: 0;
    }
  body.page-node-133 .txt-cntnt {
    padding-left: 40px;
    padding-right: 40px;
    }
  .product-additional-images img {
    margin-bottom: 20px;
    }
  .random-product {
    margin-bottom: 70px;
    }
  .flexslider {
    margin-bottom: 20px;
    }
  .product-wrapper .field--type-commerce-price {
    margin-bottom: 1rem;
    }
  .cart-product-image {
      max-width: 50px;
      overflow: hidden;
      img {
        width: 100%;
        height: auto;
      }
    }
  .view-commerce-cart-form table td .field--name-product-id a,
  .view-commerce-cart-form table td.views-field-unit-price__number,
  .view-commerce-cart-form table td.views-field-total-price__number,
  .view-commerce-cart-form .order-total-line,
  .quantity-controls .quantity-minus,
  .quantity-controls .quantity-plus {
    font-size: 1rem;
    }
  .quantity-controls .quantity-minus,
  .quantity-controls .quantity-plus {
    width: 22px;
    }
  .view-commerce-cart-form .order-total-line {
    margin-bottom: 10px;
    }
  .cart-form .js-form-type-number input.form-number {
    width: 40px;
    }
  button.button {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1rem;
    }
  a.btn-fxd.jobs {
    top: 130px;
    }
  a.btn-fxd.insta {
    top: 192px;
    }
  div.cc-wrap {
    top: 257px;
    }
  }

@media screen and (max-width: 576px) {
  .hide {
    display: none;
    }
  .paragraph--type--hash-key-tiles .hash-key-tiles {
    .col-md-4 .image-block {
      &.tile-1 {
        border-right: none;
        }
      &.tile-2 {
        border-right: none;
        }
      &.tile-3 {
        border-right: none;
        }
      &.tile-4 {
        border-bottom: 1px solid #960018;
        border-right: none;
        }
      &.tile-5 {
        border-right: none;
        border-bottom: 1px solid #960018;
        }
      &.tile-6 {
        }
      }
    }
  .paragraph--type--kacheln {
    .field--name-field-media-image {
      width: 100%;
      img {
        width: 100%;
        }
      }
    }
  .img-txt-wrapper {
    .red-k {
      width: 40px;
      top: calc(50% - 60px);
      left: calc(50% - 20px);
      }
    .slogan-white {
      font-size: 1.3rem;
      line-height: 1.2rem;
      top: 45%;
      }
    .img-caption {
      font-size: 0.8rem;
      line-height: 1rem;
      margin-bottom: 0;
      }
    }
  .width-config {
    max-width: 100%;
    }
  .toon-near-by {
    max-height: 200px;
    width: auto;
    }
  .field--name-total-price {
    margin-bottom: 40px;
    }
  .random-lebkuchen h3 {
    margin-top: 50px;
    margin-bottom: 25px;
    }
  }
