@use 'colors';

.node .paragraph--type--area-50-50 {
  .img-right-wrap {
    max-width: 637px;
    }
  margin-bottom: 70px;
  .field--name-field-button-graphic,
  .toon-left,
  .toon-right {
    display: inline-block;
    margin: 0;
    position: absolute;
    .field--type-image {
      float: none;
      margin: 0;
      }
    img {
      margin: 0;
      width: 100%;
      height: auto;
      }
    }
  .field--name-field-button-graphic {
    width: 184px;
    height: 184px;
    top: calc(50% - 93px);
    left: calc(50% - 93px);
    z-index: 10;
    }

  .toon-right,
  .toon-left {
    z-index: 11;
    .field__item {
      height: 360px;
      img {
        max-height: 100%;
        width: auto;
        }
      }
    }

  .img-right .field--name-field-button-graphic {
    left: calc(50% - 79px);
    }

  .toon-right {
    right: 20px;
    bottom: -130px;
    }

  .toon-left {
    left: 10px;
    bottom: -130px;
    }

  .hell-blau-grau,
  .intensiv-gruen,
  .pink {
    position: relative;
    }

  .hell-blau-grau {
    background-color: colors.$hell-blau-grau;
    }
  .intensiv-gruen {
    background-color: colors.$intensiv-gruen;
    }
  .pink {
    background-color: colors.$pink;
    }

  .area-cake .toon-right .field__item,
  .area-baguette .toon-right .field__item {
    height: 300px;
    }

  .field--name-field-on-the-square-img.field--type-entity-reference {
    margin: 0;
    .field--type-image {
      float: none;
      margin: 0;
      overflow: hidden;
      img {
        margin: 0;
        width: 100%;
        height: auto;
        }
      }
    }
  }

.node .paragraph--type--bild-oder-text {
  position: relative;
  .field--type-image {
    margin: 0;
    }
  .field--type-entity-reference {
    margin: 0;
    }
  .field--name-field-button-graphic {
    border: 1px solid blue;
    .field--type-image {
      float: none;
      }
    }

  .tile-wrapper.add-hover {
    position: relative;       /* wichtig für z-index */
    display: inline-block;    /* passt Größe automatisch an */
    cursor: pointer;
    }
  .tile-wrapper.add-hover .field--name-field-media-image,
  .tile-wrapper.add-hover .field--name-field-tile-text,
  .tile-wrapper.add-hover:hover .field--name-field-btn-small {
    transition: opacity 0.4s ease;
    }
  .tile-wrapper.add-hover .field--name-field-media-image,
  .tile-wrapper.add-hover:hover .field--name-field-btn-small {
    display: block;
    opacity: 1;
    }
  .tile-wrapper.add-hover .field--name-field-tile-text {
    position: absolute;       /* Text überlagert Bild */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-height: 306px;
    margin-bottom: 1em;
    opacity: 0;
    align-items: center;
    justify-content: center;
    z-index: 12;
    background-color: white;
    padding: 40px 20px 0 20px;
    .top {
      font-size: 1.2rem;
      font-weight: 600;
      color: colors.$kp-rot;
      }
    .txt {
      font-size: 0.8rem;
      color: black;
      }
    .txt-red {
      font-family: "Fraunces 72pt";
      font-size: 0.9rem;
      font-style: italic;
      font-weight: 600;
      color: colors.$kp-rot;
      }
    }
  .tile-wrapper.add-hover:hover .field--name-field-btn-small,
  .tile-wrapper.add-hover:hover .field--name-field-media-image  {
    opacity: 0;
    }
  .tile-wrapper.add-hover:hover .field--name-field-tile-text,
  .tile-wrapper.add-hover:hover .field--name-field-btn-small .field--name-field-media-image {
    opacity: 1;
    }
  .field--name-field-btn-small {
    .field__item {
      position: absolute;
      top: -20px;
      left: -20px;
      z-index: 11;
      width: 80px;
      height: 80px;
      img {
        margin: 0;
        width: 100%;
        }
      }
    }
  }

.paragraph--type--textinhalt,
.paragraph--type--area-50-50 {
  p.narrow {
    max-width: 400px;
    margin: 0 auto 1rem auto;
    position: relative;
    }
  p.slogan {
    text-align: center;
    padding-top: 16%;
    position: relative;
    }
  }
.paragraph--type--textinhalt p.slogan.no-top-margin {
    padding-top: 0;
    }

.paragraph--type--area-50-50 .img-right {
  p.narrow {
    left: 12px;
    }
  p.slogan {
    left: 12px;
    }
  }

.no-pad {
  p.narrow {
    left: -12px;
    }
  p.slogan {
    left: -12px;
    }
  }

.paragraph--type--textinhalt {
  .textcntnt.distance {
    margin-bottom: 70px;
    }
  }

.paragraph--type--divide {
  margin-top: 60px;
  margin-bottom: 70px;
  position: relative;
  width: 100vw;
  left: calc(-1 * (100vw - 100%) / 2);
  text-indent: -9999px;
  background-image: url('../images/trenner-karomuster.png');
  background-repeat: repeat-x;
  background-size: contain;
  height: 100px;
  }

.paragraph--type--kacheln {
  .hard-tiles {
    background-color: colors.$hell-blau-grau;
    .row {
      margin: 0;
      padding: 0;
      }
    .col-md-4 {
      margin: 0;
      padding: 0;
      .field--type-image {
        margin: 0 !important;
        img {
          max-width: 100%;
          height: auto;
          }
        }
      }
    .image-block {
      position: relative;
      .img-file img {
        margin: 0;
        }
      .img-caption {
        width: 100%;
        position: absolute;
        bottom: 25px;
        z-index: 5;
        text-align: center;
        color: white;
        font-weight: 600;
        font-size: 0.9rem;
        }
      }
    .quotation {
      padding-top: 50px;
      }
    }
  }


.paragraph--type--hash-key-tiles {
  .hash-key-tiles {
    .row,
    .col-md-4 {
      margin: 0;
      padding: 0;
      .image-block {
        text-align: center;
        padding-bottom: 20px;
        &.tile-1 {
          border-right: 1px solid #960018;
          border-bottom: 1px solid #960018;
          }
        &.tile-2 {
          border-bottom: 1px solid #960018;
          border-right: 1px solid #960018;
          }
        &.tile-3 {
          border-bottom: 1px solid #960018;
          }
        &.tile-4 {
          border-right: 1px solid #960018;
          }
        &.tile-5 {
          border-right: 1px solid #960018;
          }
        &.tile-6 {
          padding-top: 100px;
          img {
            height: 200px;
            width: 200px;
            }
          }
        .img-file {
          display: inline-block;
          img {
            max-height: 320px;
            width: auto;
            }
          }
        .img-caption-1 {
          color: colors.$kp-rot;
          font-size: 1.2rem;
          font-weight: 600;
          }
        }
      }
    }
  }

.node .field--type-image {
  margin: 0;
  }

.views-row .views-field-field-sections::after {
  margin-bottom: 50px;
  clear: both;
  display: table;
  content: "";
  }

p.ohours,
p.store-titel {
  font-weight: 600;
  font-size: 1.2rem;
  margin-bottom: 7px;
  }

p.store-titel {
  font-size: 1.4rem;
  }

.paragraph--type--opening-hours {
  .opening-hours {
    margin-bottom: 25px;
    }
  .opening-hours,
  .opening-hours-2 {
    display: grid;
    grid-template-columns: 8rem auto;
    gap: 0.5rem 1rem;
    margin-bottom: 25px;
    .day {
      font-weight: 600;
      }
    }
  .adresse {
    margin-bottom: 40px;
    }
  .btn-route {
    background-color: colors.$kp-rot;
    color: white;
    border: 0;
    font-weight: 600;
    font-size: 1.4rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 30px;
    }
  }

.holiday-hours-grid {
  display: grid;
  grid-template-columns: 12rem auto;
  gap: 0.5rem 1rem;
  .holiday-info {
    .holiday-name {
      font-weight: 600;
      }
    .holiday-date {
      font-size: 0.9em;
      color: #555;
      }
    .holiday-time {
      text-align: left;
      }
    }
  }

.holiday-header-wrapper {
  margin-top: 25px;
  .holiday-heading {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 1rem;
    }
  }
