
@use 'colors';

.block-custom-cart-block {
  position: relative;
  .wlw-cart-block__text,
  .wlw-cart-block,
  div {
    display: inline-block;
    }
  width: auto !important;
  float: left;
  display: none;
  a.wlw-cart-block__link {
    color: colors.$kp-rot;
    text-decoration: none;
    }
  }

.navigation.menu--shop-navigation {
  margin-bottom: 50px;
  }

#block-kp-2025-meinprofil-2 {
  display: none;
  float: left;
  width: auto !important;
  div {
    display: inline-block;
    }
  a {
    text-decoration: none;
    span.icn {
      display: block;
      width: 32px;
      height: 32px;
      background-image: url('../images/icn-profile.webp');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
      }
    }
  }

#block-kp-2025-loginicon-2,
#block-kp-2025-logouticon-2 {
  display: none;
  width: auto !important;
  float: left;
  line-height: 32px;
  a {
    text-decoration: none;
    color: black;
    &:hover {
      text-decoration: underline;
      }
    }
  }

#block-kp-2025-loginicon-2 {
  display: inline-block;
  }

body.user-logged-in {
  #block-kp-2025-loginicon-2 {
    display: none;
    }
  .block-custom-cart-block,
  #block-kp-2025-meinprofil-2,
  #block-kp-2025-logouticon-2 {
    display: inline-block;
    }
  }

.cc-wrap,
.block-custom-cart-block {
  span.wlw-cart-block__count {
    position: absolute;
    right: 0;
    top: -3px;
    display: block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 0.6rem;
    background-color: colors.$kp-rot;
    border-radius: 50%;
    text-align: center;
    color: white;
    }
  }

.cc-wrap {
  width: 47px;
  height: 47px;
  border: 2px solid fuchsia;
  display: inline-block;
  background-color: white;
  border: 1px solid colors.$kp-rot;
  text-align: center;
  padding-top: 7px;
  position: fixed;
  right: 0;
  top: 548px;
  z-index: 95;
  .wlw-cart-block__text {
    span.wlw-cart-block__total {
      display: none;
      }
    }
  .wlw-cart-block__icon {
    img {
      width: 34px;
      height: auto;
      }
    }
  span.wlw-cart-block__count {
    top: 2px;
    }
  }

.cart-form {
  .view-header h2 {
    color: colors.$kp-rot;
    text-align: center;
    font-weight: 600;
    margin-bottom: 50px;
    }
  button.form-submit {
    background-color: colors.$kp-rot;
    border: none;
    border-radius: 0;
    font-weight: bold;
    }
  }

.view-commerce-cart-form {
  table {
    th.views-field-purchased-entity,
    th.views-field-unit-price__number,
    th.views-field-edit-quantity,
    th.views-field-remove-button,
    th.views-field-total-price__number {
      color: black;
      }
    tr {
      background-color: white;
      border-bottom: 1px solid colors.$kp-rot;
      margin-bottom: 20px;
      }
    thead tr {
      border-bottom: none;
      }
    td {
      border: none;
      background-color: white !important;
      box-shadow: none;
      padding-top: 30px;
      .field--name-product-id {
        a {
          text-decoration: none;
          color: black;
          font-size: 1.4rem;
          }
        }
      &.views-field-unit-price__number,
      &.views-field-total-price__number {
        font-size: 1.4rem;
        }
      &.views-field-total-price__number {
        font-weight: 600;
        }
      .cart-product-image {
        img {
          max-width: 140px;
          height: auto;
          }
        }
      }
    }
  .order-total-line {
    font-size: 1.4rem;
    margin-bottom: 14px;
    }
  }

.cart-form button.delete-order-item.form-submit {
  background-image: url('../images/icn-trash-bin.webp');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  font-size: 0;
  display: inline-block;
  height: 36px;
  width: 42px;
  background-color: transparent;
  }

  /* Mengensteuerung im Warenkorb */
  .cart-form .quantity-wrapper {
    display: flex;
    justify-content: center;
  }

  body.path-cart .cart-form .quantity-wrapper {
    justify-content: left;
    }

  .cart-form .quantity-controls {
    display: flex;
    align-items: stretch;
  }
