
body {
  padding: 40px 0 0 0;
  background-image: url(../graphics/wall-01.jpg);
  font-family: Hind, sans-serif;
  font-size: 17px;
  }

ol.breadcrumb {
  margin: 0;
  }


.wlw-cart-block__icon {
  margin-right: 10px;
  img {
    height: 30px;
    width: auto;
    }
  }

.block-custom-commerce-cart {
  .wlw-cart-block__text {
    height: 35px;
    position: relative;
    top: 7px;
    span {
      display: inline-block;
      line-height: 35px;
      }
    }
  }

#profile-block-icon,
#logout-block-icon
 {
  a {
    span.icn {
      text-indent: -9999px;
      display: inline-block;
      width: 35px;
      height: 35px;
      background-repeat: no-repeat;
      background-size: contain;
      }
    }
  }

#profile-block-icon a span.icn {
  background-image: url('../graphics/person-circle.svg');
  }

#logout-block-icon a span.icn {
  background-image: url('../graphics/box-arrow-in-right.svg');
  position: relative;
  top: 4px;
  }

#page {
  padding-bottom: 100px;
  }

#main {
  max-width: 1296px;
  }

.main-content {
  .section {
    padding-top: 50px;
    padding-left: 15px;
    padding-right: 15px;
    h3 {
      font-size: 1.8rem;
      font-weight: 300;
      }
    }
  }

.region-subheader {
  text-align: center;
  &.row {
    display: block;
    }
  /* text-align: right; */
  .block-block-content,
  .content,
  #block-customcartblock {
    display: inline-block;
    width: auto;
    /* float: right; */
    }
    &:after {
      clear: both;
      display: table;
      content: ' ';
      height: 1px;
      line-height: 1px;
    }
  }


body.page-node-6,
body.page-node-7 {
  .main-content {
    .section {
      text-align: center;
      .content {
        max-width: 80%;
        margin: auto;
        .field--name-field-image img {
          max-width: 100%;
          height: auto;
          }
        }
      }
    }
  }

.region-headerbanner {
  .block {
    max-height: 350px;
    overflow: hidden;
    img {
      width: 100%;
      height: auto;
      }
    }
  }

.block-system-main-block {
  padding-bottom: 50px;
  }


body.node--type-filiale {
  .gallery {
    margin-top: 50px;
    .field__item {
      float: left;
      margin-right: 1.4%;
      max-width: 23.9%;
      overflow: hidden;
      &:nth-of-type(4),
      &:nth-of-type(8) {
        margin-right: 0;
        }
      img {
        max-width: 100%;
        height: auto;
        }
      }
    }
  }

.menu--shop-navigation {
  border: none !important;
  }

.site-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #d4021d;
  text-align: center;
  padding: 0;
  .site-footer__bottom {
    .block {
      margin-top: 0;
      }
    margin-top: 0;
    .region {
      margin-top: 0;
      }
    }
  .menu--footer {
    background-color: transparent;
    text-align: right;
    ul.navbar-nav {
      display: inline-block;
      li {
        float: left;
        margin-right: 20px;
        &:nth-child(1) a {
          margin-top: 10px;
          width: 29px;
          height: 29px;
          text-indent: 9999px;
          display: inline-block;
          background-image: url('../graphics/insta-btn.png');
          background-repeat: no-repeat;
          }
        &:nth-child(2) a {
          margin-top: 10px;
          width: 29px;
          height: 29px;
          text-indent: 9999px;
          display: inline-block;
          background-image: url('../graphics/fb-btn.png');
          background-repeat: no-repeat;
          }
        a {
          color: white;
          font-size: 16px;
          display: block;
          line-height: 50px;
          padding-top: 0;
          }
        }
      }
    }
  }

.alert {
  margin-bottom: 0;
  border-radius: 0;
  }
