.menu--main {
  width: 100%;
  ul.navbar-nav {
    justify-content: space-around;
    li {
      font-size: 18px;
      &.active a {
        color: $kprot;

        }
      a {
        color: #3D415C;
        text-transform: uppercase;
        &:hover {
          color: $kprot;
          }
        }
      }
    }
  }


.navbar-toggler {
  box-shadow: none !important;
  border: 2px solid black;
  margin-left: 10px;
  margin-bottom: 10px;
  }
