
@media screen and (max-width: 1399px) {
  #main {
    max-width: 1116px;
    }
  p.to-shop {
    top: -400px;
    img.shp-btn {
      width: 125px;
      }
    }
  .view-filialuebersicht {
    .views-row {
      .views-field-field-filialbild {
        .field-content {
          max-height: 154px;
          }
        }
      }
    }
  }

@media screen and (max-width: 1199px) {
  #main {
    max-width: 936px;
    }
  .view-filialuebersicht {
    .views-row {
      .views-field-field-filialbild {
        .field-content {
          max-height: 127px;
          }
        }
      }
    }
  .navbar-nav {
    margin-left: 10px;
    }
  }

@media screen and (max-width: 991px) {
  body.path-product .main-content .section {
    padding-top: 0;
    }
  #main {
    max-width: 696px;
    }
  p.to-shop {
    top: -300px;
    img.shp-btn {
      width: 125px;
      }
    }
  body.path-shop {
    h1.title {
      text-align: center;
      }
    }
  }

@media screen and (max-width: 768px) {
  #main {
    max-width: 516px;
    }
  p.to-shop {
    top: -220px;
    img.shp-btn {
      width: 100px;
      }
    }
  .fotorama {
    margin-bottom: 30px;
    .fotorama__stage {
      margin-bottom: 10px;
      }
    }
  .product-wrapper {
    .field--name-price {
      text-align: center;
      width: 100%;
      display: block;
      }
    }
  .commerce-order-item-add-to-cart-form {
    text-align: center;
    .field--name-quantity {
      float: none;
      display: inline-block;
      margin-bottom: 0 !important;
      }
    }
  }

@media screen and (max-width: 575px) {
  body {
    background-image: none;
    background-color: #e7e6e6;
    }
  p.to-shop {
    top: -200px;
    right: 0;
    img.shp-btn {
      width: 80px;
      }
    }
  }

/* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
  .sort-container .sort-col {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    }
  body.page-node-6 {
    .main-content {
      .section {
        .content {
          max-width: 90%;
          }
        }
      }
    }
  }


  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
  .sort-container .sort-col {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }
  }


@media screen and (max-width: 575px) {
  .view-filialuebersicht {
    .views-row {
      .views-field-field-filialbild {
        .field-content {
          max-height: 100%;
          img {
            max-width: 100%;
            width: 100%;
            height: auto;
            }
          }
        }
      }
    }
  }
