
@media screen and (max-width: 1399px) {
  #main {
    max-width: 1116px;
    }
  p.to-shop {
    top: -400px;
    img.shp-btn {
      width: 125px;
      }
    }
  .view-filialuebersicht {
    .views-row {
      .views-field-field-filialbild {
        .field-content {
          max-height: 154px;
          }
        }
      }
    }
  body.page-node-34 .sort-container {
    form.webform-submission-schnellbewerbung-form {
      .js-form-item-geschlecht,
      .js-form-item-geburtsdatum,
      .js-form-item-vorname,
      .js-form-item-nachname,
      .js-form-item-adressdata-address-2,
      .js-form-item-adressdata-city {
        width: 48.5%;
        }
      }
    }
  body.page-node-34 .node__content {
      img.apply {
        top: 780px;
        left: 120px;
        }
      }

  .fourteen-thirty {
    padding-left: 29px;
    .right {
      width: 700px;
      }
    }
  }

@media screen and (max-width: 1199px) {
  #main {
    max-width: 936px;
    }
  .view-filialuebersicht {
    .views-row {
      .views-field-field-filialbild {
        .field-content {
          max-height: 127px;
          }
        }
      }
    }
  .navbar-nav {
    margin-left: 10px;
    }
  body.page-node-34 .sort-container {
    form.webform-submission-schnellbewerbung-form {
      .js-form-item-geschlecht,
      .js-form-item-geburtsdatum,
      .js-form-item-vorname,
      .js-form-item-nachname,
      .js-form-item-adressdata-address-2,
      .js-form-item-adressdata-city {
        width: 48.4%;
        }
      }
    }
  body.page-node-34 .node__content {
      img.apply {
        top: 750px;
        left: 80px;
        }
      }

  #block-customcartblock,
  #block-meinprofil,
  #block-logouticon {
    top: -50px;
    }
  }

@media screen and (max-width: 991px) {
  body.path-product .main-content .section {
    padding-top: 0;
    }
  #main {
    max-width: 696px;
    img.btn-fly {
      right: 50px;
      top: -62px;
      max-width: 100px;
      height: auto;
      }
    }
  p.to-shop {
    top: -300px;
    img.shp-btn {
      width: 125px;
      }
    }
  body.path-shop {
    h1.title {
      text-align: center;
      }
    }
  body.page-node-34 .sort-container {
    form.webform-submission-schnellbewerbung-form {
      max-width: 100%;
      }
    }
  body.page-node-34 .node__content {
    img.apply {
      max-width: 160px;
      top: 660px;
      left: -20px;
      }
    }
  }

@media screen and (max-width: 768px) {
  #main {
    max-width: 516px;
    }
  body.path-shop {
    .main-content .section {
      padding-top: 0;
      }
    .sidebar .block {
      margin-bottom: 0;
      }
    }

  p.to-shop {
    top: -220px;
    img.shp-btn {
      width: 100px;
      }
    }
  .fotorama {
    margin-bottom: 30px;
    .fotorama__stage {
      margin-bottom: 10px;
      }
    }
  .product-wrapper {
    .field--name-price {
      text-align: center;
      width: 100%;
      display: block;
      }
    }
  .commerce-order-item-add-to-cart-form {
    text-align: center;
    .field--name-quantity {
      float: none;
      display: inline-block;
      margin-bottom: 0 !important;
      }
    }
  body.page-node-34 .node__content {
    img.apply {
      max-width: 160px;
      top: 650px;
      left: -70px;
      }
    }
  }

@media screen and (max-width: 575px) {
  #main {
    img.btn-fly {
      right: 20px;
      top: -40px;
      max-width: 70px;
      height: auto;
      }
    }
  body {
    background-image: none;
    background-color: #e7e6e6;
    }
  p.to-shop {
    top: -200px;
    right: 0;
    img.shp-btn {
      width: 80px;
      }
    }
  body.page-node-34 .sort-container {
    text-align: left;
    form.webform-submission-schnellbewerbung-form {
      max-width: 100%;
      .js-form-item-geschlecht,
      .js-form-item-geburtsdatum,
      .js-form-item-vorname,
      .js-form-item-nachname,
      .js-form-item-adressdata-address-2,
      .js-form-item-adressdata-city {
        width: 100%;
        }
      .js-form-item-geschlecht,
      .js-form-item-vorname,
      .js-form-item-adressdata-address-2 {
        margin-right: 0;
        }
      }
    }
  body.page-node-34 .node__content {
    img.apply {
      display: none;
      }
    }
  }

/* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
  .sort-container .sort-col {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    }
  body.page-node-6 {
    .main-content {
      .section {
        .content {
          max-width: 90%;
          }
        }
      }
    }
  }


  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
  .sort-container .sort-col {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }
  }


@media screen and (max-width: 575px) {
  .view-filialuebersicht {
    .views-row {
      .views-field-field-filialbild {
        .field-content {
          max-height: 100%;
          img {
            max-width: 100%;
            width: 100%;
            height: auto;
            }
          }
        }
      }
    }
  }
