
/*  **********  FORMULARE  **********  */


.webform-button--submit.btn-primary {
  max-width: 200px;
  background-color: $kprot;
  border: none;
  }

#edit-further-details {
  background-color: #dddddd;
  padding: 15px;
  }

/*  **********  /FORMULARE  *********  */
