

.main-wrap {
  max-width: 1296px;
  margin-left: 12px;
  }

h1.title {
  font-size: 27px;
  margin-bottom: 0;
  text-align: center;
  }

.node__content {
  margin-top: 0;
  h3 {
    text-transform: uppercase;
    font-size: 24px;
    margin-bottom: 1em;
    }
  .field--name-body {
    h2 {
      font-size: 27px;
      }
    }
  }


.filiale-left {
  text-align: center;
  .field--name-field-filialbild {
    img {
      max-width: 100%;
      height: auto;
      }
    }
  .field--name-field-plz-ort {
    margin-bottom: 20px;
    }
  }

.page-node-33,
.page-node-34 {
  .field--name-body,
  .paragraph--type--simple-text {
    margin: auto auto 30px auto;
    text-align: center;
    max-width: 80%;
    ul {
      list-style-position: inside;
      }
    }
  }
