
.paragraph--type--text-und-bild {
  .paragraph-wrapper {
    margin-bottom: 50px;
    h4 {
      font-size: 19px;
      font-weight: 600;
      margin-top: 25px;
      margin-bottom: 15px;
      }
      .img-wrap {
        margin-bottom: 15px;
        img {
          max-width: 100%;
          height: auto;
        }
      }
    }
  }

.sort-container {
  display: flex;
  flex-wrap: wrap;
  padding: 0 2px;
  .sort-col {
    flex: 25%;
    max-width: 25%;
    padding: 0 2px;
    img {
      margin-top: 4px;
      vertical-align: middle;
      width: 100%;
      height: auto;
      }
    }
  }

.node .field--type-image {
  margin: 0 !important;
  }

.paragraph--type--training,
.paragraph--type--training-2 {
  margin-bottom: 30px;
  .field--name-field-training-image {
    max-width: 100%;
    overflow: hidden;
    img {
      max-width: 100%;
      height: auto;
      }
    }
  }

.paragraph--type--training-2 {
  .field--name-field-training-description {
    text-align: right;
    }
  }
