
@import "colors";
@import "variables-and-mixins";

body.path-shop,
body.path-product {
  h1.title {
    text-align: left;
    margin-bottom: 20px;
    font-weight: 400;
    }
  }

body.path-product {
  .contextual-region::after {
    clear: both;
    display: table;
    content: ' ';
    }
  .field--name-price {
    .price-value {
      font-size: 35px;
      font-weight: 600;
      display: block;
      line-height: 35px;
      }
    .price-postfix {
      font-size: 12px;
      position: relative;
      top: -5px;
      }
    }
  }

body.path-cart {
  input.delete-order-item.btn,
  input.quantity-edit-input {
    @include form-elmnt-white;
    }
  .view-commerce-cart-form {
    .table>:not(:first-child) {
      border: none;
      }
    .views-table {
      th {
        color: #333333;
        }
      thead > tr {
        border-bottom: 1px solid white;
        }
      .field--name-product-id {
        a {
          color: #333333;
          &:hover {
            text-decoration: none;
            }
          }
        }
      }
    .form-actions {
      text-align: center;
      margin-top: 25px;
      .form-submit {
        @include form-elmnt-green;
        margin-left: 20px;
        min-width: 211px;
        }
      }
    }
  }

.block-custom-cart-block  {
  margin-top: -4px;
  .wlw-cart-block {
    a.wlw-cart-block__link {
      text-decoration: none;
      }
    .wlw-cart-block__text {
      display: inline-block;
      }
    }
  }

.menu--shop-navigation {
  ul.nav {
    margin: 0;
    padding: 0;
    li {
      list-style: none;
      margin: 5px 0 5px 0;
      padding: 0;
      &.menu-item--active-trail a:focus,
      &.menu-item--active-trail a:active {
        color: $kprot;
        }
      &.menu-item--active-trail a.nav-link {
        color: $kprot;
        }
      a {
        margin: 0;
        padding: 0;
        &.nav-link {
          color: #3D415C;
          }
        &:hover {
          color: $kprot;
          }
        }
      ul.menu {
        margin: 0;
        padding: 0;
        li {
          padding-left: 10px;
          }
        }
      }
    }
  }

.commerce-order-item-add-to-cart-form {
  .views-field-title a {
    color: $kpnav;
    }
  input.button--add-to-cart {
    background-color: white;
    border: 1px solid $dgrau;
    color: $dgrau;
    &:hover {
      background-color: $kprot;
      color: white;
      }
    }
  input.form-control {
    max-width: 187px;
    border-radius: 1.25rem;
    }
  input.form-number {
    @include form-elmnt-white;
    max-width: 80px;
    height: 34px;
    }
  div.js-form-type-number {
    text-align: center;
    }
  }

.view-id-product_list {
  .views-field-title {
    text-align: center;
    font-style: italic;
    font-size: 17px;
    a {
      color: $kpnav;
      text-decoration: none;
      }
    }
  .views-field-price__number {
    text-align: center;
    }
  }

.view-product-list {
  .views-row {
    margin-bottom: 30px;
    }
  .mb-3 {
    margin-bottom: 0 !important;
    }
  .list-group-item {
    background: none;
    border: none;
    }
  .form-actions {
    text-align: center;
    input.button--add-to-cart {
      margin-top: 10px;
      }
    }
  .field--type-commerce-price {
    display: none;
    }
  .views-field-field-product-image {
    text-align: center;
    ul.list-group {
      li.list-group-item {
        padding: 0;
        img {
          max-width: 100%;
          height: auto;
          }
        }
      }
    }
  }

.field--name-quantity {
  display: inline;
  .form-control {
    border: none;
    }
  fieldset.js-form-type-number {
    margin: 0;
    padding: 0;
    display: inline;
    margin-bottom: -1rem !important;
    label {
      display: none;
      }
    input.form-control {
      display: inline;
      width: auto;
      max-width: 60px;
      padding-right: 2px;
      }
    }
  }

.field--name-price {
  display: inline-block;
  }


.targetDiv {
  display: none;
  border: 1px solid #c8b4a1;
  padding: 15px;
  .field--name-field-header {
    font-weight: bold;
    }
  .field--name-field-ingredient,
  .field--name-field-allergene,
  .field--name-field-nutritive-value  {
    .field__label {
      font-weight: bold;
      }
    }
  }

#div1.targetDiv {
  display: block;
  border: 1px solid #c8b4a1
  }

.buttons {
  a.showSingle {
    background-color: #e7e6e6;
    cursor: pointer;
    display: inline-block;
    padding: 4px 10px 2px 10px;
    border: 1px solid #c8b4a1;
    position: relative;
    top: 1px;
    text-decoration: none;
    margin-right: 5px;
    color: $kprot;
    font-style: italic;
    font-weight: bold;
    &.active {
      border-bottom-color: #e7e6e6;
      }
    }
  }


.commerce-checkout-flow-multistep-default {
  margin-top: 20px;
  }

.layout-checkout-form {
  h3 {
    font-size: 24px !important;
    font-weight: 400 !important;
    line-height: 36px;
    }
  .view-commerce-checkout-order-summary {
    margin-top: 24px;
    }
  .button--primary,
  .js-form-submit {
    max-width: 280px;
    background-color: $dgrau !important;
    border: none;
    color: white;
    font-weight: bold;
    line-height: 30px;
    }
  .form-checkbox,
  .form-radio {
    background-color: $dgrau !important;
    border-color: $dgrau !important;
    }
  }

fieldset.checkout-pane-payment-information {
  legend span.fieldset-legend {
      display: none;
      }
  .fieldset-wrapper legend span.fieldset-legend  {
    display: block;
    }
  }

body.path-product {
  .main-content .section {
    padding-top: 6px;
    }
  form.commerce-order-item-add-to-cart-form {
    div.form-type-number {
      text-align: left;
      }
    }
  .photoswipe-gallery {
    .field__item {
      img {
        max-width: 100%;
        height: auto;
        }
      &:nth-of-type(2) {
        margin-right: 15px;
        }
      &:nth-of-type(2),
      &:nth-of-type(3) {
        max-width: 237px;
        height: auto;
        overflow: hidden;
        display: inline-block;
        }
      }
    }
  }

.fourteen-thirty {
  padding-left: 32px;
  float: left;
  .left {
    float: left;
    width: 90px;
    img {
      width: 75px;
      display: inline-block;
      float: left;
      }
    }
  .right {
    float: left;
    width: 800px;
    p {
      padding-top: 19px;
      font-weight: 600;
      }
    }
  }

.product-wrapper {
  .photoswipe-gallery {
      .field__item {
      background-color: #e7e6e6;
      }
    }
  }
