
@import "colors";

body.path-shop {
  h1.title {
    text-align: left;
    margin-bottom: 20px;
    }
  }

.block-custom-cart-block  {
  margin-top: -4px;
  .wlw-cart-block {
    a.wlw-cart-block__link {
      text-decoration: none;
      }
    .wlw-cart-block__text {
      display: inline-block;
      }
    }
  }

.menu--shop-navigation {
  ul.nav {
    margin: 0;
    padding: 0;
    li {
      list-style: none;
      margin: 5px 0 5px 0;
      padding: 0;
      a {
        margin: 0;
        padding: 0;
        }
      ul.menu {
        margin: 0;
        padding: 0;
        li {
          padding-left: 10px;
          }
        }
      }
    }
  }

.commerce-order-item-add-to-cart-form {
  .views-field-title a {
    color: $kpnav;
    }
  input.button--add-to-cart {
    background-color: $kpgruen;
    border: none;
    }
  input.form-control {
    max-width: 200px;
    }
  }

.view-id-product_list {
  .views-field-title {
    font-style: italic;
    font-size: 20px;
    a {
      color: $kpnav;
      text-decoration: none;
      }
    }
  }

.view-product-list {
  .mb-3 {
    margin-bottom: 0 !important;
    }
  .list-group-item {
    background: none;
    border: none;
    }
  .field--name-quantity {
    display: inline;
    margin: 0 !important;
    float: left;
    fieldset.js-form-type-number {
      margin: 0;
      padding: 0;
      display: inline;
      label {
        display: none;
        }
      input.form-control {
        display: inline;
        width: auto;
        max-width: 50px;
        padding-right: 2px;
        }
      }
    }
    .form-actions {
      display: inline;
    }
  }
