/*Variables

$fontFamily: 'KoHo', 'Poppins', sans-serif;
$titleFontFamily: 'KoHo', 'Poppins', sans-serif;
$brandingFontFamily: 'KoHo', 'Poppins', sans-serif;
$baseFontSize: 16px;
$bodyBGColor: #f7f7fa;
$baseFontColor: #435a6b;
*/
